@mixin mq($type) {
    $mob: 480px;
    $tab: 768px;
    $desk: 1280px;

    @if $type == "smart" {
        @media screen and (max-width: #{$mob - 0.02}) {
            @content;
        }
    }

    @if $type == 'mob-only' {
        @media screen and (max-width: #{$tab - 0.02}) {
            @content;            
        }
    }

    @if $type == 'mob' {
        @media screen and (min-width: $mob) {
            @content;
        }
    }

    @if $type == 'tab-only' {
        @media screen and (min-width: $tab) and (max-width: #{$desk - 0.02}) {
            @content;
        }
    }

    @if $type == 'tab' {
        @media screen and (min-width: $tab) {
            @content;
        }
    }

    @if $type == 'not-desk' {
        @media screen and (max-width: #{$desk - 0.02}) {
            @content;
        }
    }

    @if $type == 'desk' {
        @media screen and (min-width: $desk) {
            @content;
        }
    }


}

