/* приєднуйтесь */

.goin {
    margin-left: auto;
    margin-right: auto;

    width: 206px;

    @include mq (desk) {
    margin-left: 70px;
    }
    /* padding: 12px 0; */
}

.goin__text {
    text-transform: uppercase;
    /* font-weight: 500; */
    font-weight: 700;
    letter-spacing: 0.42px;
    color: var(--white-color);
    margin-bottom: 20px;
        text-align: center;
            margin-top: 50px;

    // @include mq (mob) {
    // }
    @include mq (tab) {
        margin-top: 5px;
    }
        @include mq (desk) {
            text-align: left;
        }

}