/* -------------- footer  subscribe -------------- */
.subscrb {
    margin-left: auto;
    margin-right: auto;

    @include mq (tab) {
    margin: auto; 
   }
           @include mq (desk) {
               margin-right: 0;
           }
    /* padding: 40px; */
}

.subscrb__text {

    margin-bottom: 20px;
    color: #FFF;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
        text-align: center;
        margin-top: 20px;
    // @media screen and (max-width: 767px)
    // @include mq (mob)
    //  {
    // }
    @include mq (desk) {
        text-align: left;
    }

}

.subscrb__string {
    margin-left: auto;
    margin-right: auto;
    @include mq (desk) {
    display: flex;

    }
}

.subscrb__input {
    width: 100%;
    height: 50px;
    padding: 15px 16px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    letter-spacing: 0.48px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0); */
    /* display: block; */
    /* box-shadow: none; */
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    margin-bottom: 20px;

    @include mq (tab) {
    width: 358px;
    &:hover,
    &:focus-within,
    &:active {
            border-color: var(--blue-color);
            /* border: 1px solid var(--blue-color); */
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        }

    }
}

.subscrb__button {
    padding: 10px 28px;
    height: 50px;
    width: 200px;
    display: block;
    // margin-left: auto;
    // margin-right: auto;
    margin: 0 auto 20px;
    text-align: left;

    border: none;
    border-radius: 4px;
    background: var(--blue-color);
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.96px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* outline: none; */

    @include mq (desk) {
    margin-left: 12px;
    display: flex;
    align-items: center;

    }

    &:hover,
    &:focus {
    background: #188CE8;
            }

}

.subscrb__send-icon {
    position: absolute;
    right: 28px;
    bottom: 13px;
    width: 24px;
    height: 24px;
    fill: var(--white-color);

}