/* ---------------- header --------------------- */


.header {
    border-bottom: 1px solid #ECECEC;
    @media screen and (max-width:767px) {
        padding: 10px 0;
    }    
}

.header--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}




// header li:hover,
// header li:focus {
//     /* fill: var(--blue-color);
//     color: var(--blue-color); */
//     cursor: pointer;
// }