

// .mob-menu 




.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color: var(--white-color);
transform: translateX(180%);
transition: transform 250ms ease-in-out;
    display: flex;
    flex-direction: column;
        overflow-y: scroll;

    // @include mq (mob){
        // display: none;
    // };
}

.menu-container.is-open {
    transform: translateX(0);
    
}
.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    // top: 12px;
    // left: 8px;
    & svg {
            // top: 11px;
            // left: 11px;
            fill: var(--main-text-color);
            transition-property: border-color,
                fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    &:hover,
    &:focus {
        & svg{ fill: var(--blue-color);
            cursor: pointer;
            /* border-color: var(--blue-color) ; */}
        }

    @include mq (tab) {
        display: none;
    }
}

.menu-container .menu-toggle {
    color: var(--main-text-color);
    position: absolute;
    top: 10px;
    right: 15px;

    & svg {
        top: 11px;
        left: 11px;
    fill: var(--main-text-color);
        transition-property: border-color,
        fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover,
    &:focus {
       & svg{ fill: var(--blue-color);
        cursor: pointer;
        /* border-color: var(--blue-color) ; */}
    }
}

.mob-nav {
    // font-family: var(--font-family);
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 0.02em;
    color: var(--gray-color);
    
    // @include mq (mob) {
    //         display: none;
    //     };
@media screen and (max-width: 480px) {
    font-size: 8.35vw;
}
}

.mob-nav__item:not(:first-of-type) {
    margin-top: 32px;
}

.mob-nav__link {

        transition-property: color, fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
            &:hover, 
            &:focus {
                color: var(--blue-color);
                /* fill: var(--blue-color); */
            }
}

.mob-cont {
    margin-top: auto;
}

.mob-cont__link {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    font-weight: 500;
    // letter-spacing: 0.28px;
    // color: var(--gray-color);
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--blue-color);
        /* fill: var(--blue-color); */
    }
}

.mob-cont__item {
    margin-top: 32px;
}

.mob-cont__tel {
    // font-family: var(--font-family);
    font-weight: 500;
    font-size: 34px;
    letter-spacing: 0.02em;
    color: #2196f3;
    // font adapt
    @media screen and (max-width:480px) {
        font-size: 7.085vw;
    }
}

.mob-cont__mail {
    // font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.02em;
    color: #757575;
    @media screen and (max-width:480px) {
            font-size: 5vw;
        }
}

// .mob-soc-thumb {
//     width: 362px;
// }
.mob-social {
    margin-top: 64px;
    margin-left: -10px;
    // width: 357px;
    display: flex;
    // gap: 10px;
    justify-content: left;
    // margin-right: 40px;
}

.mob-social__item {

    &:not(:last-of-type) {
        // border-right: #757575;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        // width: 22px;
        // height: 0px;
        // transform: rotate(-90deg);
    }

}

a.mob-social__link {
    padding-right: 10px;
    padding-left: 10px;
    // font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 122%;
    letter-spacing: 0.02em;
    color: #2196f3;
    @media screen and (max-width:480px) {
        font-size: 3.75vw;
            padding: 0 2.08vw;
    }

}