

.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px 40px;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;

    // @include mq (mob){
        // display: none;
    // };
}
.mob-nav {
    // font-family: var(--font-family);
        font-weight: 500;
        font-size: 40px;
        letter-spacing: 0.02em;
        color: var(--gray-color);
        // @include mq (mob) {
        //         display: none;
        //     };
}

.mob-cont {
    margin-top: auto;
}

.mob-cont__link {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    font-weight: 500;
    // letter-spacing: 0.28px;
    // color: var(--gray-color);
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--blue-color);
        /* fill: var(--blue-color); */
    }
}
.mob-cont__tel {
    // font-family: var(--font-family);
        font-weight: 500;
        font-size: 34px;
        letter-spacing: 0.02em;
        color: #2196f3;
}
.mob-cont__mail {
    // font-family: var(--font-family);
    margin-top: 32px;
        font-weight: 500;
        font-size: 24px;
        letter-spacing: 0.02em;
        color: #757575;
}
// .mob-soc-thumb {
//     width: 362px;
// }
.mob-social {
    margin-top: 64px;
    margin-left: -10px;
    // width: 357px;
    display: flex;
    // gap: 10px;
    justify-content: left;
    // margin-right: 40px;
}
.mob-social__item {

        &:not(:last-of-type) {
            // border-right: #757575;
            border-right: 1px solid rgba(33, 33, 33, 0.2);
                // width: 22px;
                // height: 0px;
                // transform: rotate(-90deg);
        }

}

a.mob-social__link {
            padding-right: 10px;
            padding-left: 10px;
    // font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 122%;
        letter-spacing: 0.02em;
        color: #2196f3;

}
