body {
    font-family: $main-fonts, sans-serif;
    font-size: 14px;
    font-style: normal;
    color: var(--gray-color);
    font-weight: 400;
    line-height: normal;
    /* letter-spacing: 0.42px; */
    &.modal-open {
        overflow: hidden;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}