/* content centring */
.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
         outline: 1px solid red;
   
//    mobile
@media screen and (min-width:480px) {
    width: 448px;
    
}

//      tablet
        @include mq (tab) {
            width: 768px;
        }

//      desktop
    @include mq (desk) {
        width: 1200px;
    }
}