// .features {
//     padding-bottom: 0;
// }

.features__items {

    @include mq(tab){
        
    gap: 30px;
    }
    
    // flex-wrap: wrap;

}

.features__title {
    text-align: center;     /* mob */
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    color: var(--main-text-color);
    margin-bottom: 10px;
    // tab, desk
    @include mq (tab) {
        text-align: left;
    }
}

.features__text {
    line-height: 1.71429;
    letter-spacing: 0.42px;
    margin-top: 0;
    @include mq (tab) {
        width: 354px;
    }
    @include mq (desk) {
        width: 270px;
    }
}

.features__item {
    min-width: 270px;
  @include mq(mob-only){ 
 &:not(:last-of-type) {       
    margin-bottom: 30px;
    }
    }
}



/* features icons */
.features__pad {
    /* padding: 25px 100px; */
    height: 120px;
    width: 100%;
    // width: 270px;
    border-radius: 4px;
    background-color: var(--btn-bg-color);
    margin-bottom: 30px;
    /* display: block; */
    display: flex;
    justify-content: center;
    align-items: center;

    // tablet
        @include mq (tab) {
            width: 354px;
        }
    // desktop
        @include mq (desk) {
            width: 270px;
        }
}

.features__icon {
    width: 70px;
    height: 70px;
}