/* hero */
.hero {
    // max-width: 480px;
    padding-top: 118px;
    padding-bottom: 118px;
        background: var(--footer-bg-color);
        text-align: center;
        // margin-left: auto;
        // margin-right: auto;
        background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.40),
                    rgba(47, 48, 58, 0.40)),
                url(../images/hero-sm.webp);
                background-size: 480px 400px;
            background-repeat: no-repeat;
                background-size: cover;
                background-position: center;

    // tab
        @include mq(tab) {
            display: flex;
            justify-content: center;
        // max-width: 768px;
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.40),
                    rgba(47, 48, 58, 0.40)),
                url(../images/hero-md.webp);
                background-size: 780px 400px;
                                background-size: cover;
                                    background-position: center;
    }
    
    //DESKTOP    
    @include mq(desk) {
        max-width: 1600px;
        margin: 0 auto;
        // height: 600px;
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.40),
            rgba(47, 48, 58, 0.40)),
            url(../images/hero-lg.webp);
            background-size: 1600px 600px;
            // background-position: center;
    }

}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
                background-size: 480px 400px;
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.40),
                    rgba(47, 48, 58, 0.40)),
                 url('/images/hero-sm-x2.webp');
        @media screen and (min-width: 480px) {
                background-size: 780px 400px;
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.40),
                    rgba(47, 48, 58, 0.40)),
                 url('/images/hero-md-x2.webp') ;
        }
        @media screen and (min-width: 768px) {
                background-size: 1600px 600px;
                background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.40),
                    rgba(47, 48, 58, 0.40)),
                 url('/images/hero-lg-x2.webp');
        }
    }

}

.hero-thumb {
    max-width: 480px;
}

.title-hero {
    color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 26px;
        font-style: normal;
        font-weight: 900;
        line-height: 1.61538;   /*42px;*/   /* 161.538% */
        letter-spacing: 1.56px;
        text-transform: uppercase;
        margin-bottom: 30px;
        // max-width: 696px;


// DESKTOP
    // width: 696px;
    // text-align: center;
    // font-size: 44px;
    // font-weight: 900;
    // line-height: 1.36364;
    // letter-spacing: 2.64px;
    // text-transform: uppercase;
    // color: var(--white-color);
    // margin-left: auto;
    // margin-right: auto;
    // margin-bottom: 30px;
}