/* project-list */

.pjcts img {
    display: block;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;

    @include mq (tab) {
        justify-content: space-between;
    }

    // @include mq (desk) {
    // justify-content: space-between;
    // }
    
    /* outline: 1px solid red; */
}

.projects li {
    background: #FFF;
    /* outline: 1px solid red; */
}